h1{
    background: red;
    font-size: 300%;
    text-align: center;
}
header{
    text-align: center;
    
    font-size: large;
}
body{
    background: gray;
    margin: 2%;
}
h2{
    background: rgb(161, 157, 157);
    font-variant: small-caps;
    font-size: 200%;
    text-align: center;
}
div{
    width: 23%;
    display: inline-block;
    float: left;
    margin-right: 2%;
}
ul{
    
    
    background: rgb(73, 138, 73);
}
li{
    font-size: 200%;
}
footer{
    visibility: none;
}
Footer{
    clear: both;
    font-size: 300%;
    text-align: center;
}
