h1{
    background: red;
    font-size: 200%;
    text-align: center;
}
header{
    text-align: center;
    background: rgb(255, 255, 255);
    font-size: large;
}
h2{
    background: rgb(161, 157, 157);
    font-variant: small-caps;
}
Footer{
    font-size: 300%;
    text-align: center;
}