h1{
    background: rgb(101, 86, 231);
    font-size: 300%;
    text-align: center;
}
header{
    text-align: center;
    
    font-size: large;
}
body{
    background: gray;
    margin: 2%;
}
h2{
    background: rgb(161, 157, 157);
    font-variant: small-caps;
    font-size: 200%;
    text-align: center;
  
}
div{
    width: 30%;
    float: left;
    margin-right: 2%;
}

li{
    background: rgb(78, 130, 173);
    font-size: 130%;
}
.inProgress{
    background: rgb(120, 190, 120);
}
label{
    font-size: 200%;
}
progress{
    width: 250px;
    height: 20px;
}
summary{
    font-size: 150%;
}
p{
    font-size:120%;
}
footer{
    visibility: none;
}
h3{
    background: rgb(161, 157, 157);
    font-variant: small-caps;
    font-size: 200%;
    text-align: center;
    clear: both;
    display: block;
}
.secondLayer{
    clear: both;
    float: left;
    font-size: 200%;
}
Footer{
    clear: both;
    font-size: 300%;
    text-align: center;
}
